page-addweight {
    ion-button{
        // border-radius:5px;
        color:#fff;
    }
    .label{
        margin:  4px 0px 7px 0;
    }
    ion-label{
        font-size:12px;
    }
    .item-md{
        padding-left:0px;
    }
    .item-md.item-block .item-inner{
        padding-right:0px;
    }
    ion-content{
        padding:5px;
    }
    .rowclr{
        background-color: #ffffff;
    }
    ion-label{
        text-align: center;
    }
    ion-input{
        border: 2px #000000 solid;
        border-radius: 5px;
        background-color: #ffffff;
    }
    .submit-button{
        width: 50%;
        text-align: center;
        margin: 0 auto;
        border-radius: 11px;
        
    }
    .text-input{
        // border-radius: 50px;
        background-color: #fff;
        margin:6px 7px;
    }
}
