forgot-password-page {
	.forgot-password-content
	{
		background-image: url("../assets/images/22.jpg");
		background-size: cover;
		.logo {
			margin-top: 25px;
			width: 100px;
			height: 100px;
			margin: 20px auto 0;
			border-radius: 10%;
			background: url("../assets/images/logo.png") no-repeat;
			background-size: 100%;
		  }
		  .animated
		  {
				  animation-duration: 1s;
				  animation-fill-mode: both;
		  }
	  
		  @keyframes fadeIn {
		  from {
			opacity: 0;
		  }
		
		  to {
			opacity: 1;
		  }
		}
		
		.fadeIn {
		  animation-name: fadeIn;
		}
		
		@keyframes fadeInDown {
		  from {
			opacity: 0;
			transform: translate3d(0, -100%, 0);
		  }
		
		  to {
			opacity: 1;
			transform: none;
		  }
		}
		
		.fadeInDown {
		  animation-name: fadeInDown;
		}
		.background{
			background-color:rgba(255, 255, 255, 0.5) !important;
			border-radius: 20px;
		}
			.recover-message
		{
			padding-top:25px;
			color: $black;
			margin: 10px 0px;
		}

		.auth-title{
			padding-top:25px;
			color: $black;
		}
		.auth-action-button{
			// padding-top:25px;
			border-color: $white !important;
			border-width: 3px !important;
			color:$white;
		}
		.login-button{
			border-color: $white !important;
			border-width: 3px !important;
			color:$black;
		}
		.forgot-password-form{
			padding:5px;
		}
	}
	ion-item {
		border-radius: 30px !important;
		padding-left: 30px !important;
		font-size: 0.9em;
		background-color:rgba(0, 0, 0, 0.5) !important;
		margin-bottom: 10px !important;
		border-bottom: 0px !important;
		color: $white !important;
	}
	input::placeholder{
		color: $white !important;
	}

	
	ion-input{
	margin: 0 auto;
	text-align:center;
	}
}


