<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Customer List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="nomsg" *ngIf="this.copycustomer.length == 0">
    <p>No Customer Have registered Your Number!!</p>
    <!-- <p></p> -->
  </div>
  <div *ngIf="this.copycustomer.length != 0">
    <ion-row>
      <ion-col>
        <ion-searchbar showCancelButton cancelButtonText="Custom Cancel" class="light-searchbar" (ionInput)="getItems($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-item *ngFor="let c of customer">
        <ion-row>
          <ion-col col-2>
            <ion-avatar slot="start">
              <img src="assets/images/user.png">
            </ion-avatar>
          </ion-col>
          <ion-col col-6>
            <p>
              <b> {{c.name}}</b>
            </p>
          </ion-col>
          <ion-col col-4>
            <p>
              <b>{{c.mobile}}</b>
            </p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>