<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="nomsg" *ngIf="this.copyfeedback.length == 0">
    <p>No Customer Have Gave Feedback For Your Orders!!</p>
    <!-- <p></p> -->
  </div>
  <div *ngIf="this.copyfeedback.length != 0">
    <ion-row>
      <ion-col no-padding>
        <ion-searchbar showCancelButton cancelButtonText="Custom Cancel" class="light-searchbar" (ionInput)="getItems($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-list class="schedule-list">
      <ion-item class="fade-in-item schedule-item" *ngFor="let f of feedback">
        <ion-row>
          <ion-col class="schedule-data">
            <div class="data-item">
              <div class="item-content">
                <div>
                  <ion-row>
                    <ion-col col-6 class="item-description">
                      <img src="./assets/icons/user.png" class="icons">
                      <!-- <ion-icon class="description-icon" name="contact"></ion-icon> -->
                      <p class="description-text one-line">{{f.name}}</p>
                    </ion-col>
                    <ion-col col-6 class="item-description">
                      <img src="./assets/icons/mobile.png" class="icons">
                      <!-- <ion-icon class="description-icon fa fa-ticket"></ion-icon> -->
                      <p class="description-text one-line">{{f.mobile}}</p>
                    </ion-col>
                  </ion-row>
                </div>
                <div>
                  <ion-row>
                    <ion-col col-6 class="item-description">
                      <img src="./assets/icons/ticket.png" class="icons">
                      <p class="description-text one-line">{{f.order_id}}</p>
                    </ion-col>
                    <ion-col col-6 class="item-description">
                      <!-- <img src="./assets/icons/comments.png" class="icons">
                    <p class="description-text top one-line">{{f.type}}
                      <button  *ngIf="f.description !=''" ion-button clear icon-only item-end class="view" (click)="showAlert(f.description)">
                        <ion-icon item-end class="description-icon fa fa-commenting-o"></ion-icon>
                      </button>
                    </p> -->
                      <button ion-button outline small round class="view" (click)="nextpage(f)">View</button>
                    </ion-col>
                  </ion-row>
                </div>

                <!-- <div *ngIf="f.description !=''">
                <ion-row>
                 <ion-col class="item-comments">
                  <p>{{ f.description}}</p>
                 </ion-col>
                </ion-row>
              </div> -->
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>