<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <a ion-button icon-only (click)="logout()">
        <ion-icon name="md-log-out"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="contact-slides"  pager="true"  autoplay="3000" loop="true" >
    <ion-slide class="contact-slide" *ngFor="let image of images">
      <img [src]="image" class="slide-image">
    </ion-slide>
  </ion-slides>
  <ion-item class="contact-details-row" style="padding-left:15px">
    <h3>Welcome, {{this.username}}</h3>
  </ion-item>
  <ion-list class="switchers-list">
    <ion-item class="switcher-item">
      <ion-label>Shop Availability</ion-label>
      <ion-toggle checked="true" [(ngModel)]="this.toggle" (ionChange)="notify($event)"></ion-toggle>
    </ion-item>
    <ion-item text-wrap *ngIf="this.toggle == false" style=" background-color: #f5dada">
      <!-- <span item-left word-wrap> -->
        <p >Your  Availability is offline, Enable the Toggle button</p>
        <p> To get the Notifications when the new ordered is received  </p>
      <!-- </span> -->
    </ion-item>
  </ion-list>




  <ion-card class="card-md">
    <ion-card-header>
      <b>Order Information</b>
    </ion-card-header>
    <ion-card-content class="grid-full">
      <div cards>
        <div class="grid-full">
          <!-- <ion-item> -->
          <!-- <span item-left><b>Received:{{totalreceived}}</b></span> -->
          <!-- </ion-item> -->
          <ion-row (click)="orderpage()">
            <ion-col>
              <h1>{{ this.newordered}}</h1>
              <p>New Order</p>
            </ion-col>
            <ion-col>
              <h1>{{ this.scheduled}}</h1>
              <p>Scheduled</p>
            </ion-col>
            <ion-col>
              <h1>{{ this.delivered}}</h1>
              <p>Delivered</p>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>