// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.




$red        : #F44336;
$pink       : #E91E63;
$purple     : #9C27B0;
$d-purple   : #673AB7;
$indigo     : #3F51B5;
$blue       : #2196F3;
$l-blue     : #03A9F4;
$cyan       : #00BCD4;
$teal       : #009688;
$green      : #4CAF50;
$l-green    : #8BC34A;
$lime       : #CDDC39;
$yellow     : #FFEB3B;
$amber      : #FFC107;
$orange     : #FF9800;
$d-orange   : #FF5722;
$brown      : #795548;
$blue-grey  : #607D8B;
$coban      : #11c99f;
$lama       : #d0eeaa;
$datroi     : #a1e3e2;
$grey       : #e4e4e4;
$tim        : #957eed;
$lanon      : #cef9c0;
$hong       : #fcb7be;
$lot        : #eaf8f8;
$phan       : #faecfd;



$theme-color-1: #488aff; //#f4493c
$theme-color-2: #488aff;
$theme-color-3: #000;
$theme-color-4: #208ad1;
$white: #FFFFFF;
$white-a: darken($white, 3%);
$white-b: darken($white, 6%);
$white-c: darken($white, 12%);
$white-d: darken($white, 24%);

$black: rgba(#000000, .8);
$black-a: lighten($black, 10%);
$black-b: lighten($black, 20%);
$black-c: lighten($black, 40%);
$black-d: lighten($black, 60%);
$menu-width:250px;



$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

  button-color:#4285F4,
  header:(
    base: $theme-color-1,
    contrast: $white
  ),
  header-alt:(
    base: $theme-color-1,
    contrast: $white
  ),
  background:(
    base: $white-a,
    contrast: $black-b
  ), 
  walkthrough:(
    base: $blue,
    contrast: $theme-color-2
  ),
  walkthrough-alt:(
    base: $purple,
    contrast: $theme-color-2
  ),
  walkthrough-last:(
    base: $green,
    contrast: $theme-color-2
  ),
 walkthrough-header:(
    base: transparent,
    contrast: $white
  ),
  button:(
    base: $theme-color-1,
    contrast: $white
  ),
  button-alt:(
    base: $black,
    contrast: $white
  ),
  tabs-navigation:(
    base: $white,
    contrast: $white-d
  )
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toggle-md-track-background-color-off: #f53d3d;
$toggle-md-track-background-color-on: #32db64;
$toggle-md-handle-background-color-off:#f4f4f4;
$toggle-md-handle-background-color-on:#f4f4f4;

$text-input-highlight-color-valid:transparent;
$text-input-highlight-color-invalid:transparent;
$text-input-md-show-focus-highlight:false;
// $text-input-highlight-color:transparent;
// $text-input-md-highlight-color:transparent;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
