<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="add">
  <ion-item>
    <!-- <ion-label floating>Product Name</ion-label> -->
    <ion-input type="text" [(ngModel)]="productname" placeholder="Product Name"></ion-input>
  </ion-item>
  <ion-item>
    <!-- <ion-label floating>Product Name</ion-label> -->
    <ion-input type="text" [(ngModel)]="subcategory" (ionFocus)="category()" placeholder="Select Category"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>select type</ion-label>
    <ion-select [(ngModel)]="weight">
      <!-- <ion-option >select</ion-option> -->
      <ion-option checked="true">packet</ion-option>
      <ion-option>Ml/Litres</ion-option>
      <ion-option>grams/kilograms</ion-option>
    </ion-select>
  </ion-item>
  <div *ngIf="this.weight != 'packet'">
    <ion-item *ngIf="this.volume==''">
      <ion-label (click)="addweight()">Enter Weight</ion-label>
      <!-- <ion-input type="text" (ionFocus)="addweight()" placeholder="Enter Weight"></ion-input> -->
    </ion-item>
  </div>
  <div *ngIf="this.weight == 'packet'">
    <ion-row>
      <ion-col>
        <ion-item>
          <!-- <ion-label>
            <b>Mrp price</b>
          </ion-label> -->
          <ion-input type="number" [(ngModel)]="mrp" placeholder="Mrp price"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <!-- <ion-label>
            <b>shop Price</b>
          </ion-label> -->
          <ion-input type="number" [(ngModel)]="spprice" placeholder="shop Price"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <ion-list (click)="addweight()">
    <ion-item *ngFor="let i of volume">
      <ion-row>
        <ion-col>Weight:&nbsp;{{i.weight}}</ion-col>
        <ion-col>Price:&nbsp; &#8377;{{i.price}}</ion-col>
        <ion-col *ngIf="this.subcategory == 'Discount' ">shopprice:&nbsp;{{i.spprice}}</ion-col>
        <ion-col *ngIf="this.subcategory == 'Discount' ">discount:&nbsp;{{i.discount}} %</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <!-- <ion-item> -->
  <ion-row>
    <ion-col col-9>
      <img [src]="base64Image" width="200" height="200" *ngIf="base64Image" />
    </ion-col>
    <ion-col col-3>
      <div card (click)="presentActionSheet()">
        <preload-image class="user-image" [ratio]="{w:1, h:1}" src="./assets/images/camera.png" alt="Profile img"></preload-image>
      </div>
    </ion-col>
  </ion-row>


  <!-- </ion-item> -->
  <button ion-button block round class="submit-button" type="submit" (click)="update()">Add product</button>

</ion-content>