page-password {
    .password{
        // background: linear-gradient(125deg, #e6dada ,#7e6565, #472e44,#35080f);
        // padding:15px;
        img
        {
            height: 150px;
            width: 150px;
            padding: 20px;
            background-color: transparent;
            display: block;
            margin: 0 auto;
        }
    
       
    }
    ion-label{
        color:#000000 !important;
    }
    ion-item {
     
        color:#000;   
        margin-bottom: 1px !important;
        box-shadow: none !important;
    }
    .submit-button
    {
        font-weight: 500;
        color: white;
        background-color: $theme-color-3;
        width:70%;
        margin:0 auto;
        
        .button-inner
        {
            text-align: justify;
        }
    }
    }
    